<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="d-flex justify-content-center">
            <img
              src="../../../../assets/img/sello.jpg"
              alt=""
              class="img-fluid mt-4"
              width="75"
              style="border-radius: 39px"
            />
          </div>

          <div class="sb-sidenav-menu-heading">Propietarios</div>

          <ng-container *ngIf="salonPermiso === 'admin'">
            <a class="nav-link" routerLink="/home">
              <div class="sb-nav-link-icon">
                <i class="fas fa-briefcase" style="font-size: 1.1rem"></i>
              </div>
              Negocios
            </a>
            <a class="nav-link" routerLink="/owners">
              <div class="sb-nav-link-icon">
                <i class="fa-solid fa-user-check" style="font-size: 1.1rem"></i>
              </div>
              Propietarios
            </a>
            <a class="nav-link" routerLink="/reclamations">
              <div class="sb-nav-link-icon">
                <i
                  class="fa-solid fa-file-circle-exclamation"
                  style="font-size: 1.1rem"
                ></i>
              </div>
              Reclamaciones
            </a>
            <a class="nav-link" routerLink="/contact-proffesional">
              <div class="sb-nav-link-icon">
                <i
                  class="fa-solid fa-envelope-open"
                  style="font-size: 1.1rem"
                ></i>
              </div>
              Contacto Profesional
            </a>

            <div class="sb-sidenav-menu-heading">Portal de Empleo</div>

            <a class="nav-link" routerLink="/categories-jobs">
              <div class="sb-nav-link-icon">
                <i class="fa-solid fa-table-list" style="font-size: 1.1rem"></i>
              </div>
              Categorías Empleo
            </a>
          </ng-container>

          <a
            *ngIf="salonPermiso === 'salon'"
            class="nav-link"
            routerLink="/home"
          >
            <div class="sb-nav-link-icon">
              <i class="fas fa-briefcase" style="font-size: 1.1rem"></i>
            </div>
            Negocios
          </a>

          <ng-container *ngIf="salonPermiso === 'admin'">
            <div class="sb-sidenav-menu-heading">Clientes Web</div>

            <a class="nav-link" routerLink="/clients">
              <div class="sb-nav-link-icon">
                <i class="fa-solid fa-users" style="font-size: 1.1rem"></i>
              </div>
              Clientes
            </a>

            <a class="nav-link" routerLink="/contact">
              <div class="sb-nav-link-icon">
                <i class="fa-solid fa-envelope" style="font-size: 1.1rem"></i>
              </div>
              Contacto
            </a>
          </ng-container>

          <ng-container *ngIf="salonPermiso === 'admin'">
            <div class="sb-sidenav-menu-heading">Administración</div>



            <a class="nav-link" routerLink="/administrators">
              <div class="sb-nav-link-icon">
                <i class="fa-solid fa-user-tie" style="font-size: 1.1rem"></i>
              </div>
              Administradores
            </a>
            <a class="nav-link" routerLink="/cities">
              <div class="sb-nav-link-icon">
                <i
                  class="fa-solid fa-map-location-dot"
                  style="font-size: 1.1rem"
                ></i>
              </div>
              Poblaciones
            </a>
            <a class="nav-link" routerLink="/categories">
              <div class="sb-nav-link-icon">
                <i
                  class="fa-regular fa-folder-open"
                  style="font-size: 1.1rem"
                ></i>
              </div>
              Categorias
            </a>
            <a class="nav-link" routerLink="/services">
              <div class="sb-nav-link-icon">
                <i class="fa-solid fa-scissors" style="font-size: 1.1rem"></i>
              </div>
              Servicios
            </a>

            <a class="nav-link" routerLink="/brands">
              <div class="sb-nav-link-icon">
                <i class="fa-solid fa-copyright" style="font-size: 1.1rem"></i>
              </div>
              Marcas
            </a>

            <a class="nav-link" routerLink="/export">
              <div class="sb-nav-link-icon">
                <i
                  class="fa-solid fa-file-export"
                  style="font-size: 1.1rem"
                ></i>
              </div>
              Exportar
            </a>
            <a class="nav-link" routerLink="/import">
              <div class="sb-nav-link-icon">
                <i
                  class="fa-solid fa-file-import"
                  style="font-size: 1.1rem"
                ></i>
              </div>
              Importar
            </a>
          </ng-container>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Iniciado sesión como:</div>
        {{ userName }}
      </div>
    </nav>
  </div>
</div>
