<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand -->
  <a class="navbar-brand ps-3" routerLink="/home">Mis peluquerías &reg;</a>
  <!-- Sidebar Toggle -->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar items aligned to the right -->
  <ul class="navbar-nav ms-auto">
    <!-- Campaign notifications with counter -->
    <li class="nav-item dropdown me-3">
      <a class="nav-link dropdown-toggle custom-badge position-relative d-flex align-items-center"
         id="navbarDropdownCampaign"
         href="#"
         role="button"
         data-bs-toggle="dropdown"
         aria-expanded="false">
        <i class="fas fa-bell fa-xl"  style="margin-top: 9px; color: #fff"></i>
        <span class="badge bg-danger position-absolute translate-middle" style="top: 20px; left: 75%;">{{alertCount}}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer; margin-top: -4px;" aria-labelledby="navbarDropdownCampaign">
        <ng-container *ngIf="notifications.length > 0; else noNotifications">
          <li style="border-bottom: darkgrey solid 1px; padding: 0.3rem;" *ngFor="let notification of notifications" class="d-flex align-items-center justify-content-between">
            <a style="font-size: 0.9rem;" class="dropdown-item">
              <i class="fa-regular fa-bell"></i> {{ notification.text }}
            </a>
            <button type="button" style="font-size: 0.5rem;" class="btn btn-danger btn-sm ms-2" (click)="removeNotification(notification.id_alert_admin)">
              <i class="las la-times"></i>
            </button>    
          </li>
        </ng-container>
        <ng-template #noNotifications>
          <li><a class="dropdown-item">Sin notificaciones</a></li>
        </ng-template>
      </ul>
    </li>

    <!-- User profile with image -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle d-flex align-items-center me-4" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="userImagePath || '../../../../assets/img/sello.jpg'" class="rounded-circle" alt="Foto de perfil" width="40" height="40">
      </a>
      <ul class="dropdown-menu dropdown-menu-end bg-light text" aria-labelledby="navbarDropdownUser">
        <li><a class="dropdown-item" href="profile"><i class="las la-user-circle"></i> Mi perfil</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#" (click)="logout()"><i class="las la-sign-out-alt"></i> Salir</a></li>
      </ul>
    </li>
  </ul>
</nav>
