.fixed-size-img {
    width: 150px; /* O el ancho que prefieras */
    height: 150px; /* O la altura que prefieras */
    object-fit: cover; /* Ajusta la imagen para que cubra el área sin deformarse */
  }