<app-header></app-header>
<div id="layoutSidenav">
  <app-aside></app-aside>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-1">Panel de control</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">
            Administración / <b>Negocios / </b> <b>{{ salonData.name }}</b>
          </li>
        </ol>

        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="negocio-tab"
              data-bs-toggle="tab"
              data-bs-target="#negocio"
              type="button"
              role="tab"
              aria-controls="negocio"
              aria-selected="true"
            >
              <i class="fa-solid fa-building me-2"></i>Negocio
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="horario-tab"
              data-bs-toggle="tab"
              data-bs-target="#horario"
              type="button"
              role="tab"
              aria-controls="horario"
              aria-selected="false"
            >
              <i class="fa-solid fa-clock me-2"></i>Horario
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="imagenes-tab"
              data-bs-toggle="tab"
              data-bs-target="#imagenes"
              type="button"
              role="tab"
              aria-controls="imagenes"
              aria-selected="false"
            >
              <i class="fa-solid fa-image me-2"></i>Imágenes
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="servicios-tab"
              data-bs-toggle="tab"
              data-bs-target="#servicios"
              type="button"
              role="tab"
              aria-controls="servicios"
              aria-selected="false"
            >
              <i class="fa-solid fa-list me-2"></i>Servicios
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="permisos-tab"
              data-bs-toggle="tab"
              data-bs-target="#permisos"
              type="button"
              role="tab"
              aria-controls="permisos"
              aria-selected="false"
            >
              <i class="fa-solid fa-lock me-2"></i>Permisos
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="preguntas-tab"
              data-bs-toggle="tab"
              data-bs-target="#preguntas"
              type="button"
              role="tab"
              aria-controls="preguntas"
              aria-selected="false"
            >
              <i class="fa-solid fa-circle-question me-2"></i>Preguntas
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="resenas-tab"
              data-bs-toggle="tab"
              data-bs-target="#resenas"
              type="button"
              role="tab"
              aria-controls="resenas"
              aria-selected="false"
            >
              <i class="fa-solid fa-star me-2"></i>Reseñas
            </button>
          </li>
        </ul>

        <div class="tab-content bg-light" id="myTabContent">
          <!-- Contenido de la pestaña Negocio -->

          <div
            class="tab-pane fade show active"
            id="negocio"
            role="tabpanel"
            aria-labelledby="negocio-tab"
          >
            <!-- Formulario de Negocio -->

            <form>
              <div class="row mb-3 align-items-center">
                <div class="col-md-2">
                  <label for="estado" class="form-label">Estado</label>
                  <select
                    class="form-select"
                    id="state"
                    [(ngModel)]="salonData.state"
                    name="state"
                  >
                    <option value="Reclamado">Reclamado</option>
                    <option value="Validado">Validado</option>
                    <option value="No reclamado">No reclamado</option>
                  </select>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                  <label class="form-check-label me-2" for="active"
                    >Activo</label
                  >
                  <div class="form-check form-switch me-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="active"
                      name="active"
                      [(ngModel)]="salonData.active"
                    />
                  </div>
                  <label class="form-check-label me-2" for="in_vacation"
                    >Cerrado por vacaciones</label
                  >
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="in_vacation"
                      name="in_vacation"
                      [(ngModel)]="salonData.in_vacation"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    [(ngModel)]="salonData.name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    [(ngModel)]="salonData.email"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="direccion" class="form-label">Dirección</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    [(ngModel)]="salonData.address"
                  />
                </div>
                <div class="col-md-6">
                  <label for="telefono" class="form-label"
                    >Nº de Teléfono</label
                  >
                  <input
                    type="telf"
                    class="form-control"
                    id="phone"
                    name="phone"
                    [(ngModel)]="salonData.phone"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="provincia" class="form-label">Provincia</label>
                  <select
                    class="form-select"
                    id="provincia"
                    [(ngModel)]="salonData.id_province"
                    name="id_province"
                    (change)="onProvinceChange(salonData.id_province)"
                  >
                    <option
                      *ngFor="let province of provinces"
                      [value]="province.id_province"
                    >
                      {{ province.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="ciudad" class="form-label">Ciudad-CP</label>
                  <select
                    class="form-select"
                    id="ciudad"
                    [(ngModel)]="salonData.id_city"
                    name="id_city"
                    (change)="onCityChange(salonData.id_city)"
                  >
                    <option *ngFor="let city of cities" [value]="city.id_city">
                      {{ city.city_name }} - {{ city.zip_code }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="latitud" class="form-label">Latitud</label>
                  <input
                    type="text"
                    class="form-control"
                    id="latitud"
                    name="latitud"
                    [(ngModel)]="salonData.latitud"
                  />
                </div>
                <div class="col-md-6">
                  <label for="longitud" class="form-label">Longitud</label>
                  <input
                    type="text"
                    class="form-control"
                    id="longitud"
                    name="longitud"
                    [(ngModel)]="salonData.longitud"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="googlemaps" class="form-label"
                    >URL de Google Maps</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="map"
                    name="map"
                    [(ngModel)]="salonData.map"
                  />
                </div>
                <div class="col-md-6">
                  <label for="urlnegocio" class="form-label"
                    >URL del Negocio</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="url"
                    name="url"
                    value=""
                    [(ngModel)]="salonData.url"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-12">
                  <label for="sobrenosotros" class="form-label"
                    >Sobre Nosotros</label
                  >
                  <textarea
                    class="form-control"
                    id="about_us"
                    name="about_us"
                    rows="3"
                    [(ngModel)]="salonData.about_us"
                    placeholder="Establecezca la descripción de su negocio...."
                  >
                  </textarea>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-12">
                  <label for="categoria" class="form-label">Categorías</label>
                  <input
                    type="text"
                    class="form-control"
                    id="categories"
                    name="categories"
                    [(ngModel)]="salonData.categories"
                  />
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-danger me-2"
                (click)="updateSalon()"
              >
                Guardar
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/home"
              >
                Cancelar
              </button>
            </form>
          </div>

          <!-- Contenido de la pestaña Horario -->
          <div
            class="tab-pane fade"
            id="horario"
            role="tabpanel"
            aria-labelledby="horario-tab"
          >
            <!-- Filtros de Horario -->
            <div class="d-flex justify-content-center">
              <div class="w-75">
                <!-- Tabla de Horarios con Responsive Wrapper -->
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th>Día</th>
                        <th class="text-start">Horario de Mañana</th>
                        <th class="text-start">Cerrado</th>
                        <th class="text-start">Horario de Tarde</th>
                        <th class="text-start">Cerrado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dia of dias">
                        <td>{{ dia.nombre }}</td>
                        <td>
                          <div class="d-flex align-items-center">
                            <input
                              type="time"
                              class="form-control"
                              [(ngModel)]="dia.mananaInicio"
                              [readonly]="dia.cerradoManana"
                            />
                            <input
                              type="time"
                              class="form-control ml-2"
                              [(ngModel)]="dia.mananaFin"
                              [readonly]="dia.cerradoManana"
                            />
                          </div>
                        </td>
                        <td class="text-start">
                          <input
                            type="checkbox"
                            [(ngModel)]="dia.cerradoManana"
                            (change)="toggleManana(dia)"
                          />
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <input
                              type="time"
                              class="form-control"
                              [(ngModel)]="dia.tardeInicio"
                              [readonly]="dia.cerradoTarde"
                            />
                            <input
                              type="time"
                              class="form-control ml-2"
                              [(ngModel)]="dia.tardeFin"
                              [readonly]="dia.cerradoTarde"
                            />
                          </div>
                        </td>
                        <td class="text-start">
                          <input
                            type="checkbox"
                            [(ngModel)]="dia.cerradoTarde"
                            (change)="toggleManana(dia)"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn btn-danger mt-3" (click)="saveHours()">
                  Guardar
                </button>
              </div>
            </div>
          </div>
          <!-- Contenido de la pestaña Imágenes -->
          <div
            class="tab-pane fade"
            id="imagenes"
            role="tabpanel"
            aria-labelledby="imagenes-tab"
          >
            <!-- Selección de Imagen -->

            <!-- Tabla de Imágenes -->
            <div class="mb-3 col-md-4">
              <label for="imagen" class="form-label"
                >Seleccione una imagen</label
              >
              <div class="input-group">
                <input
                  type="file"
                  class="form-control"
                  id="imagen"
                  (change)="onFileSelected($event)"
                />
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="onUpload()"
                >
                  Añadir
                </button>
              </div>
            </div>

            <!-- Tabla de Imágenes -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-light">
                    <thead class="thead-dark">
                      <tr>
                        <th>Nombre</th>
                        <th>Fecha Creación</th>
                        <th>Imagen</th>
                        <th>Principal</th>
                        <th>Acciones</th>
                        <!-- Nueva columna para las acciones -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let image of images; let i = index">
                        <td>{{ image.file_name }}</td>
                        <td>{{ image.file_fecha | date : "dd/MM/yyyy" }}</td>
                        <td>
                          <div class="image-container">
                            <img
                              [src]="image.file_url"
                              [alt]="image.file_name"
                              (click)="
                                openImage(image.file_url, image.file_name)
                              "
                            />
                          </div>
                        </td>
                        <td>
                          <div class="form-check form-switch me-3">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [id]="'imgPrincipal' + i"
                              name="imgPrincipal"
                              (change)="uniqueCheckboxSelectImge(i)"
                              [(ngModel)]="image.file_principal"
                            />
                          </div>
                        </td>
                        <td>
                          <button
                            (click)="deleteImage(image.file_id)"
                            class="btn btn-danger btn-sm"
                          >
                            <i class="fas fa-trash"></i> Eliminar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div
                    class="fullsize"
                    *ngIf="isImageOpen"
                    (click)="closeImage()"
                  >
                    <img [src]="currentImageUrl" [alt]="currentImageAlt" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="servicios"
            role="tabpanel"
            aria-labelledby="servicios-tab"
          >
            <!-- Imagen ampliada -->
            <div class="fullsize" *ngIf="isImageOpen" (click)="closeImage()">
              <img [src]="currentImageUrl" [alt]="currentImageAlt" />
            </div>
            <!-- Filtros de Servicios -->
            <div class="row mb-3">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Buscar" />
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <button
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#modalNuevoServicio"
                >
                  Nuevo
                </button>
              </div>
            </div>

            <!-- Tabla de Servicios -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-light">
                    <thead class="thead-dark">
                      <tr>
                        <th>Servicio</th>
                        <th>Subservicio</th>
                        <th>Tiempo</th>
                        <th colspan="2">Editar/Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let service of getSalonServices">
                        <td>{{ service.service_name }}</td>
                        <td>{{ service.subservices}}</td>
                        <td>{{ service.time }} minutos</td>
                        <td>
                          <button class="btn btn-dark"
                          data-bs-toggle="modal"
                          data-bs-target="#modalEditService"
                          (click)="openEditModal(service)">
                            <i class="fas fa-edit"></i>
                          </button>
                          <button class="btn btn-danger ms-2" (click)="deleteServiceWithSubservice(service.id_service)" >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                      <a class="page-link" href="#" aria-label="Previous" (click)="changePage(currentPage - 1)">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>

                    <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="page === currentPage">
             <!--Falta href-->         <a class="page-link"  (click)="changePage(page)">{{ page }}</a>
                    </li>

                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                      <a class="page-link" href="#" aria-label="Next" (click)="changePage(currentPage + 1)">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="permisos"
            role="tabpanel"
            aria-labelledby="permisos-tab"
          >
            <!-- Filtros de Permisos -->
            <div class="row mb-3">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Buscar" />
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <button class="btn btn-danger">Nuevo</button>
              </div>
            </div>

            <!-- Tabla de Permisos -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-light">
                    <thead class="thead-dark">
                      <tr>
                        <th><input type="checkbox" /></th>
                        <th>Usuario</th>
                        <th>Permiso</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox" /></td>
                        <td>Alberto Santorroman</td>
                        <td>
                          <select class="form-select">
                            <option selected>Administrador de negocio</option>
                            <option value="trabajador">
                              Trabajador de negocio
                            </option>
                            <!-- Agrega más opciones según sea necesario -->
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" /></td>
                        <td>Prueba Sauco</td>
                        <td>
                          <select class="form-select">
                            <option value="administrador">
                              Administrador de negocio
                            </option>
                            <option selected>Trabajador de negocio</option>
                            <!-- Agrega más opciones según sea necesario -->
                          </select>
                        </td>
                      </tr>
                      <!-- Repite para los demás permisos -->
                      <!-- Aquí iría el loop para generar las filas dinámicamente con Angular -->
                    </tbody>
                  </table>
                </div>
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>

          <!-- Contenido de la pestaña Preguntas -->
          <div
            class="tab-pane fade"
            id="preguntas"
            role="tabpanel"
            aria-labelledby="preguntas-tab"
          >
            <!-- Filtros de Preguntas -->
            <div class="row mb-3">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Buscar" />
              </div>
            </div>

            <!-- Tabla de Preguntas -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-light">
                    <thead class="thead-dark">
                      <tr>
                        <th>Pregunta</th>
                        <th>Respuesta</th>
                        <th>Responder/ Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let faq of faqByIdSalon">
                        <td>{{ faq.question }}</td>
                        <td>{{ faq.answer }}</td>
                        <td>
                          <button class="btn btn-dark me-3"
                          data-bs-toggle="modal"
                          data-bs-target="#editQuestionModal"
                         (click)="editQuestion(faq)">
                            <i class="fas fa-edit"></i>
                          </button>
                          <button class="btn btn-danger"
                          (click)="deleteQuestion(faq.id_faq)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <!-- Botón de "Anterior" -->
                    <li class="page-item" [class.disabled]="currentPage === 1">
                      <a class="page-link" href="#" aria-label="Previous" (click)="changePage(currentPage - 1)">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>

                    <!-- Números de página -->
                    <li *ngFor="let page of getPagesArray()" class="page-item" [class.active]="page === currentPage">
              <!--Fatla href-->        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                    </li>

                    <!-- Botón de "Siguiente" -->
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                      <a class="page-link" href="#" aria-label="Next" (click)="changePage(currentPage + 1)">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="resenas"
            role="tabpanel"
            aria-labelledby="resenas-tab"
          >
            <!-- Calificación promedio -->
            <div class="text-center my-4">
              <h2>{{ averageRating.toFixed(2) }} <small>/5</small></h2>
              <div>
                <ng-container *ngFor="let star of generateStarRatingArray(averageRating)">
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-star': star === 1,
                      'fa-star-half-alt': star === 0.5,
                      'fa-star-empty': star === 0
                    }"
                    [style.color]="star === 1 || star === 0.5 ? 'gold' : 'lightgray'"
                  ></i>
                </ng-container>
              </div>
            </div>

            <!-- Campo de búsqueda -->
            <div class="row mb-3">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Buscar" />
              </div>
            </div>

            <!-- Tabla de Reseñas -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-light">
                    <thead class="thead-dark">
                      <tr>
                        <th>Reseña</th>
                        <th>Usuario</th>
                        <th>Calificación</th>
                      <th>Editar/Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Itera sobre el array de reseñas -->
                      <tr *ngFor="let review of reviews">
                        <td>{{ review.observacion }}</td>
                        <td>{{ review.name }}</td>
                        <td>
        <div class="star-rating">
          <!-- Generar estrellas llenas -->
          <ng-container *ngFor="let star of getFilledStars(review.qualification); let i = index">
            <span class="star" [ngClass]="{'filled': i < review.qualification}">&#9733;</span>
          </ng-container>
          <!-- Generar estrellas vacías si la calificación es menor a 5 -->
          <ng-container *ngFor="let star of getEmptyStars(review.qualification); let j = index">
            <span class="star">&#9734;</span> <!-- Estrella vacía -->
          </ng-container>
        </div>
      </td>
                        <td>
                          <button class="btn btn-dark me-3"
                          data-bs-toggle="modal"
                          (click)="editReview(review)"
                          data-bs-target="#editReviewModal">
                            <i class="fas fa-edit"></i>
                          </button>
                          <button class="btn btn-danger"
                          (click)="deleteReview(review.id_review)">

                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <!-- Botón de "Anterior" -->
                    <li class="page-item" [class.disabled]="currentPage === 1">
                      <a class="page-link" href="#" aria-label="Previous" (click)="changePage(currentPage - 1)">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>

                    <!-- Números de página -->
                    <li *ngFor="let page of getPagesArray()" class="page-item" [class.active]="page === currentPage">
              <!--Fatla href-->        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                    </li>

                    <!-- Botón de "Siguiente" -->
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                      <a class="page-link" href="#" aria-label="Next" (click)="changePage(currentPage + 1)">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- Aquí se agregarían los demás paneles de contenido para Servicios, Permisos, etc. -->
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
<!-- Modal  para anadir servicio y subservicio -->
<div
  class="modal fade"
  id="modalNuevoServicio"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel">Añadir servicios</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="text-muted mb-4">Complete los detalles del nuevo servicio</p>
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="serviceSelect" class="form-label fw-bold">Servicio</label>
              <select
                id="serviceSelect"
                class="form-select"
                aria-label="Selecciona una opción"
                [(ngModel)]="newServiceName"
                name="newServiceName"
              >
                <option value="" selected>Selecciona una opción</option>
                <option *ngFor="let service of getSalonDataSelect" [value]="service.name">
                  {{ service.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="timeInput" class="form-label fw-bold"
                >Tiempo Actividad (Minutos)</label
              >
              <input
                type="number"
                class="form-control"
                id="timeInput"
                placeholder="10"
                [(ngModel)]="newServiceTime"
                name="newServiceTime"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-3 row">
              <label for="subserviceInput" class="form-label fw-bold"
                >Subservicio</label
              >
              <textarea
              [(ngModel)]="newSubservices"
              name="newSubservices"
                class="form-control"
                id="subserviceInput"
                placeholder="Ingrese el subservicio separado por ';' y un espacio."
              ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="addService()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal  para editar servicio y subservicio -->

<div
  class="modal fade"
  id="modalEditService"
  tabindex="-1"
  aria-labelledby="modalEditService"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="modalEditService">Editar servicios</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="text-muted mb-4">Complete los detalles para editar servicio</p>
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="serviceSelect" class="form-label fw-bold">Servicio</label>
              <select
                id="serviceSelect"
                class="form-select"
                aria-label="Selecciona una opción"
                [(ngModel)]="newServiceName"
                name="newServiceName"
              >
                <option value="" selected>Selecciona una opción</option>
                <option *ngFor="let service of getSalonDataSelect" [value]="service.name">
                  {{ service.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="timeInput" class="form-label fw-bold"
                >Tiempo Actividad (Minutos)</label
              >
              <input
                type="number"
                class="form-control"
                id="timeInput"
                placeholder="10"
                [(ngModel)]="newServiceTime"
                name="newServiceTime"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-3 row">
              <label for="subserviceInput" class="form-label fw-bold"
                >Subservicio</label
              >
              <textarea
              [(ngModel)]="newSubservices"
              name="newSubservices"
                class="form-control"
                id="subserviceInput"
                placeholder="Ingrese el subservicio separado por ';' y un espacio."
              ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button  editReviewText: string = '';" class="btn btn-danger" (click)="updateServiceWithSubservice()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editQuestionModal"
  tabindex="-1"
  aria-labelledby="editQuestionModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content shadow-lg">
    <div class="modal-header bg-danger text-white">
      <h5 class="modal-title" id="editQuestionModalLabel">
        Responder Pregunta
      </h5>
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="updateQuestion()">
        <div class="mb-3">
          <label for="editQuestionText" class="form-label fw-bold">Pregunta</label>
          <textarea
            class="form-control border-0 bg-light"
            id="editQuestionText"
            rows="2"
            [(ngModel)]="editQuestionText"
            name="editQuestionText"
            readonly
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="editAnswerText" class="form-label fw-bold">Respuesta</label>
          <textarea
            class="form-control"
            id="editAnswerText"
            rows="4"
            [(ngModel)]="editAnswerText"
            name="editAnswerText"
            required
          ></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-danger">
            Guardar Respuesta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<div
  class="modal fade"
  id="editReviewModal"
  tabindex="-1"
  aria-labelledby="editReviewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="editReviewModalLabel">Modificar Reseña</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateReview()">
          <div class="mb-3">
            <label for="editReviewText" class="form-label">Tu Reseña</label>
            <textarea
              class="form-control"
              id="editReviewText"
              rows="4"
              [(ngModel)]="editReviewText"
              name="editReviewText"
              required
            ></textarea>
          </div>
          <div class="mb-3 d-flex flex-column align-items-end">
            <label class="form-label">Puntuación</label>
            <div class="d-flex justify-content-end">
              <div class="star-rating">
                <input
                  type="radio"
                  name="editRating"
                  id="editStar1"
                  value="5"
                  [(ngModel)]="editRating"
                /><label for="editStar1" class="star">&#9733;</label>
                <input
                  type="radio"
                  name="editRating"
                  id="editStar2"
                  value="4"
                  [(ngModel)]="editRating"
                /><label for="editStar2" class="star">&#9733;</label>
                <input
                  type="radio"
                  name="editRating"
                  id="editStar3"
                  value="3"
                  [(ngModel)]="editRating"
                /><label for="editStar3" class="star">&#9733;</label>
                <input
                  type="radio"
                  name="editRating"
                  id="editStar4"
                  value="2"r
                  [(ngModel)]="editRating"
                /><label for="editStar4" class="star">&#9733;</label>
                <input
                  type="radio"
                  name="editRating"
                  id="editStar5"
                  value="1"
                  [(ngModel)]="editRating"
                /><label for="editStar5" class="star">&#9733;</label>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger">
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


