#newService {
    border: none; /* Elimina todos los bordes */
    border-bottom: 2px solid #000; /* Añade un borde solo en la parte inferior */
    border-radius: 0; /* Asegura que no haya bordes redondeados */
    margin-bottom: 0; /* Elimina cualquier margen inferior */
}

#newSubservice {
    border: none; /* Elimina todos los bordes */
    border-bottom: 2px solid #000; /* Añade un borde solo en la parte inferior */
    border-radius: 0; /* Asegura que no haya bordes redondeados */
    margin-bottom: 0; /* Elimina cualquier margen inferior */
}
#editService {
    border: none; /* Elimina todos los bordes */
    border-bottom: 2px solid #000; /* Añade un borde solo en la parte inferior */
    border-radius: 0; /* Asegura que no haya bordes redondeados */
    margin-bottom: 0; /* Elimina cualquier margen inferior */
}

.btn-danger {
    background-color: #B91622;
    border-color: #B91622;
}