.btn-danger {
    background-color: #B91622;
    border-color: #B91622;  
}
  .selected-image {
   width: 250px;
  }

  *{
   white-space: pre-wrap; 
  }

  
  .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    border: none;
    width: 40px; /* Asegúrate de que el ancho y alto sean iguales */
    height: 40px; /* Asegúrate de que el ancho y alto sean iguales */
    padding: 0;
    border-radius: 50%; /* Esto hace que sea un círculo perfecto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .delete-btn i {
    font-size: 1.5rem;
    color: red;
  }
  
  .delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    transform: scale(1.1);
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.9375rem; /* 15px en rem */
  }
  
  .pagination-info {
    font-weight: bold;
    margin: 0 0.625rem; /* 10px en rem */
  }
  
  .pagination button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 0.75rem; /* 12px en rem */
    padding: 0.3125rem 0.625rem; /* 5px 10px en rem */
    margin: 0 0.3125rem; /* 5px en rem */
    cursor: pointer;
    font-size: 0.875rem; /* Tamaño de fuente ajustado */
  }
  
  .pagination button:hover {
    background-color: darkred;
  }